*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.pad{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    color: aliceblue;
    background-color: darkcyan;
    width: 64px;
    padding: 8px;
    margin: 8px auto;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 16px;
}